<div class="row">
  <div class="col-xs-12">
    <h2><%= @user.name %></h2>
  </div>
</div>

<% if @user.id != current_user.id %>
  <p><%= @user.city %><br/>
  </p>
<% end %>


<% if @user.id == current_user.id %>
  <div class="row">
    <div class="col-xs-12">
      <h3>Here are some potential matches!</h3>
    </div>
  </div>

  <div class="row">
    <% @people.each do |person| %>
      <div class="col-xs-3">
        <p>
          <%= link_to user_path person.id do %>
            <%= image_tag person.avatar %></br>
            <%= person.name %></br>
            <%= person.gender == 0 ? 'male' : 'female'  %><br/>
            <strong>From: </strong><%= person.city %>
          <% end %>
        </p>
      </div>
    <% end %>
  </div>
<% end %>
